@import 'mixin';

.dashboardProductBox{
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
}

.createProductBtn{
    position: fixed;
    top:2rem;
    right: 2rem;
    @include square(2.5rem);
    @include flex(row,center,center,0);
    background-color: rgb(201,9,9);
    color: white;
    border-radius: 50%;
    &:hover{
    opacity: 0.7;
    }
}

.productManagement{
    @include flex(row,center,unset);
    padding: 4rem;
    //@include posCeneter;

    >section{
        overflow-y: auto;
        height: 85vh;
        padding: 5rem;
        width: 100%;
        max-width: 480px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 5px 5px  rgba(0 ,0 ,0, 0.2);
        position: relative;
        @include flex(column,unset,unset,1rem);
        >h2{
          @include heading(2px);
          text-align: center;
        }
        >strong{
           // margin-left: 2rem;
            font-weight: 300;
        }
        >span{
            position:absolute;
            top:2rem;
            right:2rem;
        }
        >img{
            @include square(100%);
          //  padding: 1rem 1rem 0 2rem;
            //border-radius: 5px;
            object-fit: cover;
        }
        >p{
            text-align: center;
          //  padding: 0.5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        //    font-weight: 500;
        }
        >h3{
            text-align: center;
            font-size: 2rem;
        }
    }   
    >article{
        height: 85vh;
        padding: 2rem;
        width: 100%;
        max-width: 400px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0 ,0 ,0, 0.2);
        >form{
            @include flex(column,unset,center,2rem);
            >h2{
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            >img{
                @include square(5rem);
                border-radius: 5px;
                object-fit: cover;
            }
            >div{
                width: 100%;
                position: relative;
                >label{
                    position: absolute;
                    left: 0;
                    top:-1.5rem;
                }
                >input{
                    @include inputStyle(100%,1rem,unset,1px solid rgba(13,13,13,0.2));
                    border-radius: 5px;
                }
            }
            > button {
                padding: 1rem;
                border: none;
                background-color: rgb(5, 107, 224);
                color: white;
                width: 100%;
                border-radius: 5px;
                font-size: 1.1rem;
                cursor: pointer;
              }
        }
    }
    .shippingInfoCard{
        >h1{
           text-align: center;
           @include heading(2px);
        }
        >h5{
            font-size: 1.1rem;
            margin: 1rem 0 0 0.5rem;
            font-size: 1.1rem;
            font-weight: 700;
          
        }
        >p{
            margin: 0.3rem;
        }
        >button {
            padding: 1rem;
            margin : 1.5rem 0;
            border: none;
            background-color: rgb(5, 107, 224);
            color: white;
            width: 100%;
            border-radius: 5px;
            font-size: 1.1rem;
            cursor: pointer;
          }
    }
}

.transactionProductCard{
    @include flex(row,unset);
    >img{
        @include square(4rem);
        border-radius: 5px;
        object-fit: cover; 
    }
    >p{
        margin-left: auto;
    }
}