@import 'mixin';

.dashboardProductBox{
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
}

.createProductBtn{
    position: fixed;
    top:2rem;
    right: 2rem;
    @include square(2.5rem);
    @include flex(row,center,center,0);
    background-color: rgb(201,9,9);
    color: white;
    border-radius: 50%;
    &:hover{
    opacity: 0.7;
    }
}

.productManagement{
    @include flex(row,center,unset);
    padding: 4rem;
    //@include posCeneter;
    >article{
        height: 85vh;
        padding: 2rem;
        width: 100%;
        max-width: 400px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0 ,0 ,0, 0.2);
        >form{
            @include flex(column,unset,center,2rem);
            >h2{
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            >img{
                @include square(5rem);
                border-radius: 5px;
                object-fit: cover;
            }
            >div{
                width: 100%;
                position: relative;
                >label{
                    position: absolute;
                    left: 0;
                    top:-1.5rem;
                }
                >input{
                    @include inputStyle(100%,1rem,unset,1px solid rgba(13,13,13,0.2));
                    border-radius: 5px;
                }
            }
            > button {
                padding: 1rem;
                border: none;
                background-color: rgb(5, 107, 224);
                color: white;
                width: 100%;
                border-radius: 5px;
                font-size: 1.1rem;
                cursor: pointer;
              }
        }
    }
}